absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argilla==1.7.0
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrdict==2.0.1
attrs==22.2.0
audioread==3.0.0
av==10.0.0
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
bce-python-sdk==0.8.79
beautifulsoup4==4.12.2
black==23.3.0
blinker==1.4
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
ci-sdr==0.0.2
click==8.1.3
cmake==3.26.3
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
comm==0.1.2
command-not-found==0.3
commonmark==0.9.1
ConfigArgParse==1.5.3
contourpy==1.0.7
cryptography==40.0.2
cssselect==1.2.0
cssutils==2.6.0
ctc-segmentation==1.7.4
ctranslate2==3.11.0
cycler==0.11.0
Cython==0.29.33
dataclasses-json==0.5.7
datasets==2.9.0
dbus-python==1.2.18
debugpy==1.6.6
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.4
Distance==0.1.3
distro==1.7.0
distro-info===1.1build1
editdistance==0.6.2
einops==0.6.0
espnet==202301
espnet-model-zoo==0.1.7
espnet-tts-frontend==0.0.3
et-xmlfile==1.1.0
executing==1.2.0
faiss-cpu==1.7.4
fast-bss-eval==0.1.3
fastapi==0.92.0
faster-whisper==0.4.1
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.9.0
fire==0.5.0
Flask==2.2.3
Flask-Babel==2.0.0
flatbuffers==23.5.9
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
future==0.18.3
g2p-en==2.1.0
gast==0.4.0
gevent==22.10.2
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.54.0
gyp==0.1
h11==0.12.0
h2==4.1.0
h5py==3.8.0
hpack==4.0.0
httpcore==0.13.7
httplib2==0.20.2
httpx==0.19.0
huggingface-hub==0.13.4
humanfriendly==10.0
hydra-core==1.3.1
hyperframe==6.0.1
idna==3.4
imageio==2.28.1
imgaug==0.4.0
importlib-metadata==4.6.4
inflect==6.0.2
ipykernel==6.21.2
ipython==8.11.0
itsdangerous==2.1.2
jaconv==0.3.4
jamo==0.4.1
jax==0.4.8
jedi==0.18.2
jeepney==0.7.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.2.0
jupyter_client==8.0.3
jupyter_core==5.2.0
kaldiio==2.17.2
keras==2.12.0
keyring==23.5.0
kiwisolver==1.4.4
langchain==0.0.174
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.2
libclang==16.0.0
librosa==0.8.1
lit==16.0.2
llvmlite==0.38.1
lmdb==1.4.1
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.1.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.1.0
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msg-parser==1.2.0
multidict==6.0.4
multiprocess==0.70.12.2
mypy-extensions==1.0.0
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==3.1
nltk==3.8.1
norbert==0.2.1
numba==0.55.2
numexpr==2.8.4
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
olefile==0.46
omegaconf==2.3.0
onnxruntime==1.14.1
openapi-schema-pydantic==1.2.4
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.0
paddle-bfloat==0.1.7
paddle2onnx==1.0.5
paddlefsl==1.1.0
paddlenlp==2.5.1
paddleocr==2.6.1.3
paddlepaddle==2.4.2
pandas==1.5.3
parso==0.8.3
pathspec==0.11.0
pdf2docx==0.5.6
pdf2image==1.16.3
pdfminer.six==20221105
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
pooch==1.6.0
premailer==3.10.0
prompt-toolkit==3.0.38
protobuf==3.20.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pyclipper==1.3.0.post4
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.5
pydub==0.25.1
Pygments==2.14.0
PyGObject==3.42.1
PyJWT==2.3.0
PyMuPDF==1.20.2
pypandoc==1.11
pyparsing==2.4.7
pypinyin==0.44.0
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
python-docx==0.8.11
python-magic==0.4.27
python-pptx==0.6.21
pytorch-wpe==0.0.1
pytz==2022.7.1
PyWavelets==1.4.1
pyworld==0.3.2
PyYAML==5.4.1
pyzmq==25.0.0
rapidfuzz==3.0.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
resampy==0.4.2
responses==0.18.0
rfc3986==1.5.0
rich==13.0.1
rsa==4.9
scikit-image==0.20.0
scikit-learn==1.2.1
scipy==1.10.0
SecretStorage==3.3.1
sentence-transformers==2.2.2
sentencepiece==0.1.97
seqeval==1.2.2
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
soupsieve==2.4.1
SQLAlchemy==2.0.14
stack-data==0.6.2
starlette==0.25.0
sympy==1.11.1
systemd-python==234
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
threadpoolctl==3.1.0
tifffile==2023.4.12
timm==0.6.13
tokenizers==0.13.2
tomli==2.0.1
torch==2.0.0
torch-complex==0.4.3
torchaudio==0.13.1
torchvision==0.15.1
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.26.1
triton==2.0.0
typeguard==2.13.3
typer==0.9.0
typing-inspect==0.8.0
typing_extensions==4.5.0
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
Unidecode==1.3.6
unstructured==0.6.8
urllib3==1.26.14
uvicorn==0.20.0
visualdl==2.4.2
wadllib==1.3.6
wcwidth==0.2.6
websockets==10.2
Werkzeug==2.2.3
wget==3.2
wrapt==1.14.1
xkit==0.0.0
XlsxWriter==3.1.0
xxhash==3.2.0
yarl==1.8.2
zipp==1.0.0
zope.event==4.6
zope.interface==5.5.2
